* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", "Roboto", sans-serif;
  background-color: #f5f5f5;
}

.wrapper {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f5f5;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 40px;
}

h1 {
  font-size: 2.5rem;
  font-weight: 800;
  margin-top: 80px;
  margin-bottom: 40px;
}

p span {
  color: #009966;
  font-weight: 800;
}

.hero {
  max-width: 415px;
}

p {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* Section */

.bg-black {
  background-color: #999999;
  margin-block-start: 5em;
  padding-block-start: 5em;
  padding-block-end: 3em;
}

.bg-white {
  background-color: #fff;
  padding: 10px 30px;
}

h2 {
  font-size: 1.5rem;
  font-weight: 800;
  position: relative;
  left: -45px;
  background-color: #ffbf00;
  box-shadow: 0 8px #cc9900;
  padding: 25px 25px 25px 45px;
  max-width: 415px;
  margin-bottom: 20px;
}

.bg-white p {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.6;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 1.2rem;
  }

  .hero {
    max-width: 300px;
  }

  /* Section */
  h2 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 395px) {
  .container {
    max-width: 650px;
    padding: 0 20px;
  }

  /* Section */
  .bg-white {
    padding: 10px 10px;
  }
}
